h1{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-align:center;
    color:white;
    font-size: 4rem;
    padding-top: 30px;
    margin: 0vh 0 0 -5%;
}

html, body{
    height: 100%;
  }
  body { 
    background-image: url(../images/background-image.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999; 
  }

  hr{
    color: rgb(253, 252, 252);
    background-color: rgb(252, 252, 252);
    height: 5px;
  }

.menu-scroll {
    overflow-y: scroll;
    max-height: 300px;
}

.card-body{
    background-color: rgba(253, 242, 242, .7);
    overflow: hidden;
}
.card {
    padding-top: 2px;
    background-color: rgba(253, 242, 242, .7);
    margin-bottom: 2px;
}
.card-text {
    height: 150px;
    overflow: hidden;
}

.card-body{
    margin-bottom: 2px;
}

.dynamic{
    margin: 0 auto;
}

#formz{
    padding-top: 30px;
}

#main{
    margin:auto;
    display: block;

}

#results{
    margin:0 auto;
    text-align: center;
    
}
#searchBtn {
    margin-left:5px;
}
#inputState {
    margin-left:5px;
}

#footer {
    position : fixed;
    bottom : 0;
    height : 25px;
    text-align: center;
    /* margin-bottom : 1px; */
    /* position: sticky; */
}
#footer {

    text-align: center;

}

#headingHotel, #headingRest, #headingNightlife{
    padding: 0;
}

#buffer{
    height: 10vh;
}


@media (orientation:portrait){
    html, body{
        height: 100%;
      }
    body { 
        background-image: url(../images/background-imageP.jpg) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
      }
    }


@media (max-width: 767px) { 
    .card-text {
        display: none;
    }
    h1 {
        padding-top: 5px;
        margin: 0vh 0 0 0%;
        font-size: 40px;
    }
    .card-body{
        margin-bottom: 2px;
        padding: 2px;
    }
    .col-12, .col-md-4 {
    padding-right: 5px;
    padding-left: 5px;
}
 }